/* Custom css for bootstrap components */
body {
  background-color: #2A6892;
}

.navBar {
  padding: 1%;
  background-color: #eee;
}

.imagelogo {
  width: 40%;
}

.navBarTop {
  background-color: white;
  max-width: 100%;
}

.containerProgress {
  background-color: white;
  margin: 1%;
  padding: 1%;
  max-width: 96%;
  border-radius: 10px;
}

.colProgress {
  margin: 1%;
}

.containerCharts {
  background-color: white;
  margin: 1%;
  padding: 1%;
  max-width: 96%;
  border-radius: 10px;
}

.containerList {
  background-color: white;
  margin: 1%;
  padding: 1%;
  max-width: 96%;
  border-radius: 10px;
}

.buttonAdd {
  width: 90%;
  height: 100%;
}

.containerFooter {
  background-color: white;
  margin: 1%;
  padding: 1%;
  max-width: 96%;
  border-radius: 10px;
}

.lgProducts {
  font-weight: 650;
}

.colChart {
  text-align: center;
}